@import '../../node_modules/antd/dist/antd.css';

@import 'vars';
@import 'buttons';
@import 'form';
@import 'rateInput';

@import 'features/review';
@import 'features/reviewList';
@import 'features/search';

#app {
  padding: 30px;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}
