@import '../../node_modules/antd/dist/antd.css';

@import 'vars';
@import 'buttons';
@import 'form';
@import 'rateInput';

@import 'features/review';
@import 'features/reviewList';
@import 'features/search';

body {
  margin: 20px;

  .ant-row-flex {
    padding: 10px 0px;
  }
}

.text-right {
  text-align: right;
}
